<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Trillo
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,600&display=swap" rel="stylesheet") 
        link(rel="stylesheet", href="./main.scss")
        link(rel="shortcut icon", href="assets/img/favicon.png", type="image/x-icon")
    body
        #app
            block content 
                