@use "../abstracts/variables";
.container {
 max-width: 120rem;
 margin: 8rem auto;
 background-color: var(--grey-light-2);
 box-shadow: var(--shadow);
 min-height: 50rem;
 
 
 @media screen and (max-width: variables.$bp-largest) {
     margin: 0;
     max-width: 100%;
 }
}